title= info.title
meta(name="description", content="#{info.description}")
meta(property="og:title", content="#{info.title}")
meta(property="og:description", content="#{info.description}")
meta(property="og:type", content="#{info.type}")
if info.image
	meta(property="og:image", content="#{info.image}")